<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <!-- timer.js -->
  <script src="../static/timer.js"></script>
  <script src="../static/item_collator.js"></script>
  <title>
   Semantic Data
 </title>
</head>
<body class="container" onload="load_session('a1', '1234')">

<item class="container" id="1">
  <br/>
  <header>
    <div class="row justify-content-center">
      <div class="col-6">
        <h5 class="text-center">Data</h5>
        <table class="table table-striped small">
          <tr>
            <td>A</td>
            <td><strong>B</strong></td>
            <td>C</td>
          </tr>
        </table>
      </div>
    </div>
</header>
<div class="text-center" id="article">
  <h5 class="text-center">Summary</h5>
  <p class="lead" id="text_article"></p>
</div>
<footer class="jumbotron text-center">
  <form> <!-- action="../routing.php" method="post">-->
    <div class="form-group">
      <label>Fluency</label>
      <div class="radio">
        <label class="radio-inline">
          <strong>Very Bad</strong>
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency1" id="inlineRadio1_1_f" value="1"> 1
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency1" id="inlineRadio2_1_f" value="2"> 2
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency1" id="inlineRadio3_1_f" value="3"> 3
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency1" id="inlineRadio4_1_f" value="4"> 4
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency1" id="inlineRadio5_1_f" value="5" checked> 5
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency1" id="inlineRadio6_1_f" value="6"> 6
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency1" id="inlineRadio7_1_f" value="7"> 7
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency1" id="inlineRadio8_1_f" value="8"> 8
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency1" id="inlineRadio9_1_f" value="9"> 9
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <strong>Very Good</strong>
        </label>
      </div>
      <span class="form-text text-muted">Does the text flow in a natural, easy to read manner?</span>
    </div>
    <br>
    <div class="form-group">
      <label>Grammaticality</label>
      <div class="radio">
        <label class="radio-inline">
          <strong>Very Bad</strong>
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar1" id="inlineRadio1_1_g" value="1"> 1
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar1" id="inlineRadio2_1_g" value="2"> 2
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar1" id="inlineRadio3_1_g" value="3"> 3
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar1" id="inlineRadio4_1_g" value="4"> 4
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar1" id="inlineRadio5_1_g" value="5" checked> 5
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar1" id="inlineRadio6_1_g" value="6"> 6
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar1" id="inlineRadio7_1_g" value="7"> 7
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar1" id="inlineRadio8_1_g" value="8"> 8
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar1" id="inlineRadio9_1_g" value="9"> 9
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <strong>Very Good</strong>
        </label>
      </div>
      <span class="form-text text-muted">Is the text grammatical (no spelling or grammatical errors)?</span>
    </div>
    <br>
    <div class="form-group">
      <label>Clarity</label>
      <div class="radio">
        <label class="radio-inline">
          <strong>Very Bad</strong>
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity1" id="inlineRadio1_1_c" value="1"> 1
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity1" id="inlineRadio2_1_c" value="2"> 2
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity1" id="inlineRadio3_1_c" value="3"> 3
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity1" id="inlineRadio4_1_c" value="4"> 4
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity1" id="inlineRadio5_1_c" value="5" checked> 5
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity1" id="inlineRadio6_1_c" value="6"> 6
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity1" id="inlineRadio7_1_c" value="7"> 7
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity1" id="inlineRadio8_1_c" value="8"> 8
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity1" id="inlineRadio9_1_c" value="9"> 9
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <strong>Very Good</strong>
        </label>
      </div>
      <span class="form-text text-muted">Does the text clearly express the data?</span>
    </div>
    <div class="form-group">
      <!--<input type="hidden" name="url" value="" />-->
      <button id="button" onclick="item_collate('fluency1', 'grammar1', '1', '18665', 'a1', '1234')" class="btn btn-primary">Submit</button>
      <span id="timer" class="form-text text-muted">00:30</span>
    </div>
  </form>
</footer>
</item>


<item class="container" id="2" style="display:None">
  <br/>
  <header>
    <div class="row justify-content-center">
      <div class="col-6">
        <h5 class="text-center">Data</h5>
        <table class="table table-striped small">
          <tr>
            <td>D</td>
            <td><strong>E</strong></td>
            <td>F</td>
          </tr>
        </table>
      </div>
    </div>
</header>
<div class="text-center" id="article">
  <h5 class="text-center">Summary</h5>
  <p class="lead" id="text_article"></p>
</div>
<footer class="jumbotron text-center">
  <form> <!-- action="../routing.php" method="post">-->
    <div class="form-group">
      <label>Fluency</label>
      <div class="radio">
        <label class="radio-inline">
          <strong>Very Bad</strong>
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency2" id="inlineRadio1_2_f" value="1"> 1
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency2" id="inlineRadio2_2_f" value="2"> 2
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency2" id="inlineRadio3_2_f" value="3"> 3
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency2" id="inlineRadio4_2_f" value="4"> 4
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency2" id="inlineRadio5_2_f" value="5" checked> 5
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency2" id="inlineRadio6_2_f" value="6"> 6
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency2" id="inlineRadio7_2_f" value="7"> 7
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency2" id="inlineRadio8_2_f" value="8"> 8
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="fluency2" id="inlineRadio9_2_f" value="9"> 9
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <strong>Very Good</strong>
        </label>
      </div>
      <span class="form-text text-muted">Does the text flow in a natural, easy to read manner?</span>
    </div>
    <br>
    <div class="form-group">
      <label>Grammaticality</label>
      <div class="radio">
        <label class="radio-inline">
          <strong>Very Bad</strong>
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar2" id="inlineRadio1_2_g" value="1"> 1
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar2" id="inlineRadio2_2_g" value="2"> 2
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar2" id="inlineRadio3_2_g" value="3"> 3
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar2" id="inlineRadio4_2_g" value="4"> 4
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar2" id="inlineRadio5_2_g" value="5" checked> 5
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar2" id="inlineRadio6_2_g" value="6"> 6
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar2" id="inlineRadio7_2_g" value="7"> 7
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar2" id="inlineRadio8_2_g" value="8"> 8
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="grammar2" id="inlineRadio9_2_g" value="9"> 9
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <strong>Very Good</strong>
        </label>
      </div>
      <span class="form-text text-muted">Is the text grammatical (no spelling or grammatical errors)?</span>
    </div>
    <br>
    <div class="form-group">
      <label>Clarity</label>
      <div class="radio">
        <label class="radio-inline">
          <strong>Very Bad</strong>
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity2" id="inlineRadio1_2_c" value="1"> 1
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity2" id="inlineRadio2_2_c" value="2"> 2
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity2" id="inlineRadio3_2_c" value="3"> 3
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity2" id="inlineRadio4_2_c" value="4"> 4
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity2" id="inlineRadio5_2_c" value="5" checked> 5
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity2" id="inlineRadio6_2_c" value="6"> 6
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity2" id="inlineRadio7_2_c" value="7"> 7
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity2" id="inlineRadio8_2_c" value="8"> 8
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <input type="radio" name="clarity2" id="inlineRadio9_2_c" value="9"> 9
        </label>
        <label class="radio-inline" style="margin-left:0.5cm">
          <strong>Very Good</strong>
        </label>
      </div>
      <span class="form-text text-muted">Does the text clearly express the data?</span>
    </div>
    <div class="form-group">
      <input type="hidden" name="url" value="" />
      <button id="button" onclick="item_collate('fluency2', 'grammar2', '2', '19400', 'a1', '1234')" class="btn btn-primary">Submit</button>
      <span id="timer" class="form-text text-muted">00:30</span>
    </div>
  </form>
</footer>
</item>
</body>
</html>